.features {
    float: left;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    width: 75%;
}
.features h1 {
    font-size: 20px;
    max-width: 300px;
    margin: 20px auto;
}
.features img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
table {
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 20px;
}
.timetable th,
.timetable td {
    border: 2px solid #eb5959;
    padding:5px;
}
.top {
    text-align: center;
    font-size: 25px;
}