.features {
    float: left;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    width: 75%;
}

.features img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.features h1 {
    font-size: 40px;
    max-width: 700px;
    margin: 20px auto;
    margin-bottom: 10px;
}

.features p {
    font-size: 13px;
    max-width: 400px;
    color: #eb5959;
    margin: 0px auto;
    margin-top: 2px;
    margin-bottom: -20px;
}

.pred p {
    font-size: 20px;
    max-width: 400px;
    color: #fff;
    margin: 20px auto;
}

.true p {
    font-size: 14px;
    color: #59eb59;
    margin: 0px auto;
    margin-top: 2px;
    margin-bottom: -20px;
}

input {
    max-width: 225px;
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.vhod input{margin-top: 30px;}

input:focus {
    outline: none;
    border-color: #0066cc;
    box-shadow: 0 0 20px #0066cc;
}

input:hover {border-color: #999999;}

input:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

table {
    display: flex;
    justify-content: center;
    color: #fff;
}

table th:first-child {float: left}
th {padding: 10px;font-size: 20px}