.features {
    float: left;
    color: #fff;
    text-align: center;
    width: 75%;
}
.features h1 {
    font-size: 30px;
    max-width: 300px;
    margin: 20px auto;
}

.error p{
    font-size: 13px;
    max-width: 570px;
    color: #eb5959;
    margin: 0px auto;
    margin-top: -15px;
    margin-bottom: -20px;
}

.table-container {
    display: flex;
    justify-content: center;
}

.timetable {
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #4d4d4d;
}

.timetable th,
.timetable td {
    border: 2px solid #eb5959;
    text-align: center;
    padding: 2px;
    color: #fff;
}

.timetable th {
    background-color: #2c2c2c;
}

.timetable th:nth-child(1) {
    width: 150px;
}

.timetable th:nth-child(2),
.timetable td:nth-child(2) {
    width: 250px;
}

.timetable th:nth-child(3),
.timetable td:nth-child(3) {
    width: 150px;
}